<div class="bannerContainer" ng-style="vm.a==1 ? {'width':'55%'} : {'width':'35%'}">
    <div class="logo text-center"><img src="./../../assets/images/shield.svg">
    <h1>NODEJS SECURITY</h1>
    </div>
</div>