<div class="col-xs-10 col-xs-offset-1 memberTeamContainer ">
    <div class="memberTeam container-fluid">
        <div class="avatar" ng-class="vm.user.gender =='Male'? 'boy':'girl'"></div>
        <div class="nameContainer">
            <h4>{{vm.user.email}}</h4>
            <p>{{vm.user.role}}</p>
        </div>
    </div>
    <div class="detailContainer">
        <!--<div class="content">
            <h5>UNSE</h5>
            <p>10000</p>
        </div>-->
        <table class="table table-striped">
            <tr>
                <th>Username</th>
                <td>{{vm.user.username}}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{vm.birthday}}</td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td>{{vm.user.phone}}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{vm.user.gender}}</td>
            </tr>
        </table>

    </div>

</div>