<form name="resetPassword" ng-submit="vm.resetPassword()">
    <div class="input-group slitGroup">
        <h5>PASSWORD</h5>
        <div class="form-hint" ng-show="resetPassword.password.$dirty && resetPassword.password.$invalid">To conform with our Strong Password policy. Password must be more than 6 characters.</div>
        <input password-strength="vm.password" name="password" ng-model="vm.password" type="password" class="form-control" required placeholder="••••••••••••">
        <div validate-icon='password' class="passValid"></div>
        <div class="strength-meter">
            <div class="strength-meter-fill" data-strength="{{vm.pStrength}}"></div>
        </div>

    </div>
    <div class="input-group slitGroup">
        <h5>CONFIRM PASSWORD</h5>
        <input validate-pass="vm.password" name="password_confirm" ng-model="vm.password_confirm" type="password" class="form-control" required placeholder="••••••••••••">
        <div validate-icon='password_confirm'></div>
        <div class="message">
            <p ng-show="resetPassword.password_confirm.$dirty && resetPassword.password_confirm.$invalid">Please match password</p>
        </div>
    </div>
    <button type="submit" ng-disabled="resetPassword.$invalid" class="btn btn-RL">CHANGE</button>
</form>