<div class="col-xs-10 col-xs-offset-1 memberTeamContainer ">
    <div class="memberTeam container-fluid">
        <div class="avatar" ng-class="vm.gender =='Male'? 'boy':'girl'"></div>
        <div class="nameContainer">
            <h4>{{vm.user.email}}</h4>
            <p>{{vm.user.role}}</p>
        </div>
    </div>
    <div class="detailContainer">
        <!--<div class="content">
            <h5>UNSE</h5>
            <p>10000</p>
        </div>-->
        <form name="edit" ng-submit="vm.edit()">
            <table class="table table-striped">
                <tr>
                    <th>Username</th>
                    <td><input type="text" class="form-control" placeholder={{vm.user.username}} ng-model="vm.username"></td>
                </tr>
                <tr>
                    <th>Birthday</th>
                    <td><input type="text" placeholder="{{vm.birthdayConvert}}" class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')" ng-model="vm.birthday"></td>
                </tr>
                <tr>
                    <th>Phone Number</th>
                    <td><input type="text" class="form-control" placeholder={{vm.user.phone}} ng-model="vm.phone"></td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>
                        <div class="radio">
                            <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="Male" checked ng-model="vm.gender">Male
                        </label>
                        </div>
                        <div class="radio">
                            <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="Female" ng-model="vm.gender">Female
                        </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="vm.changePass = true" ng-if="!vm.changePass">Change Password</button>
                        <div ng-if="vm.changePass">
                            <input name="oldPassword" ng-model="vm.oldPassword" type="password" class="form-control" placeholder="Old Password" ng-if="vm.role != 'admin'"><br>
                            <input password-strength="vm.password" name="password" ng-model="vm.password" type="password" class="form-control" required placeholder="New Password">
                            <div class="strength-meter">
                                <div class="strength-meter-fill" data-strength="{{vm.pStrength}}"></div>
                            </div>
                            <input validate-pass="vm.password" name="password_confirm" ng-model="vm.password_confirm" type="password" class="form-control" required placeholder="Confirm password">
                            <div class="message">
                                <p ng-show="edit.password_confirm.$dirty && edit.password_confirm.$invalid">Please match password</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td ng-style="{'text-align':'right'}">
                        <button type="button" class="btn btn-default" ng-click="vm.cancel()">Don't Save</button>
                        <button type="submit" class="btn btn-success" ng-disabled="edit.$invalid || edit.$pristine">Save and Update</button>
                    </td>
                </tr>
            </table>
        </form>

    </div>

</div>