body,
html {
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

// ::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//     border-radius: 10px; // background-color: #F5F5F5;
// }
// ::-webkit-scrollbar {
//     width: 0.5%; // background-color: #F5F5F5;
// }
// ::-webkit-scrollbar-thumb {
//     border-radius: 10px;
//     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
//     background-color: #434343;
// }
.fontLayout {
    font-family: 'Segoe UI', 'Roboto', sans-serif!important;
}

#reCaptcha {
    display: inline-block;
}

.pagination {
    li {
        cursor: pointer;
    }
}

@import 'stylePages/404';
@import 'stylePages/fonts';
@import 'stylePages/auth';
@import 'stylePages/layout';
@import 'stylePages/homepage';
.memberTeamContainer {
    border: 1px solid #cecece;
    position: relative;
    padding: 0;
    margin-top: 15px;
    .memberTeam {
        .avatar {
            width: 70px;
            height: 70px;
            display: inline-block;
            margin: 15px 3%;
            box-shadow: none;
            float: left;
        }
        .boy {
            background-image: url('../../../../assets/images/boy.png');
        }
        .girl {
            background-image: url('../../../../assets/images/girl.png');
        }
        .nameContainer {
            display: inline-block;
            float: left;
            margin-top: 3%;
            h4 {
                margin-bottom: 0!important;
            }
            p {
                opacity: 0.7;
            }
        }
    }
    .detailContainer {
        width: 100%;
        // box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2);
        th {
            padding-left: 50px!important;
        }
        td {
            width: 70%;
        }
        .strength-meter {
            margin-bottom: 6px;
            &::before,
            &::after {
                border-color: #f9f9f9;
            }
        }
        .content {
            height: 100%;
            display: inline-block;
            margin: 0 3%;
            h5 {
                margin-bottom: 0!important;
            }
            p {
                opacity: 0.7;
            }
            img {
                width: 25px;
            }
        }
        .deleteButton {
            float: right;
            line-height: 45px;
            margin: 0;
            img:hover {
                border-radius: 100%;
                box-shadow: -1px -2px 6px rgba(0, 0, 0, 0.6);
                cursor: pointer;
            }
        }
    }
}